body{
    background: rgb(1,2,10);
    background: linear-gradient(180deg, rgba(1,2,10,1) 0%, rgba(6,20,102,1) 100%);
    background-attachment: fixed;

}

.navBarCss{
    background-color: black;
}

.imgBackground{

height: 700px;
background-position: center;
background-size: cover;
}

.footerColor{
    color: #bdc4ea;
}

footer{
    background-color: black;
    height: 40px;
    opacity: 0.9;
}
